@model MVC.Models.WordleGame
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Wordle";
}
@{
    string data = JsonConvert.SerializeObject(Model);

}
@section scripts
{
    <script src="~/Scripts/Wordle/WordleVM.js"></script>
    <script src="~/Scripts/knockout.mapping-latest.debug.js"></script>
    <script type="text/javascript">
        var wordleVM = new WordleVM(@Html.Raw(data));
        ko.applyBindings(wordleVM);
    </script>
}
<hr>
@*<h1 class="main-title">WORDLE</h1>*@
<section class="input-section">
    @using (Html.BeginForm("Game", "Home", FormMethod.Post, new { @class = "game-options-form" }))
    {

        <input type="text" name="nombre" placeholder="Ingrese su nombre" style="text-transform:capitalize" class="name-input" /><br />
        <br />
        <div class="game-option-container">
            <label for="errors">Selecciona la cantidad de errores</label>
            <select name="errors" class="errors-dropdown" id="errors">
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <br />
        <div class="game-option-container">
            <label for="difficulty">Selecciona la dificultad</label>
            <select onchange="setDifficulty()" name="difficulty" class="difficulty-dropdown" id="difficulty-row">
                <option id="facil" value="1">Facil</option>
                <option id="medio" value="2">Medio</option>
                <option id="dificil" value="3">Dificil</option>
            </select>
        </div>
        <br />

        <button type="submit" class="button jugar-button">Jugar ahora</button>
        <br />

    }



    <!--@Html.TextBoxFor(m => m.Nombre, new Dictionary<String, object>
        {
            { "class", "name-input" },
            { "placeholder", "Ingresa tu nombre" },
            { "data-bind", "value:Nombre" }
        })



    @Html.DisplayFor(m => m.Nombre)
    @Html.TextBoxFor(m => m.ErroresPosibles, new { @type = "number" })-->
    @*<button class="intentar-button" data-bind="click: newGame, enable: true">Jugar ahora!</button>*@

    <!--@Html.ActionLink("Jugar ahora", "Game", "Home", Model, new Dictionary<String, object>
    {
        { "class", "intentar-button" },
        { "data-bind", "value:Game" },
    })-->

</section>

<style>
    :root {
        --border-radius: 10px;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    .left-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main-title {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
        font-weight: 700;
        text-shadow: 0 0 10px #005276, 0 0 30px #005276;
    }

    .game-option-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .errors-dropdown,
    .difficulty-dropdown {
        /*margin: 15px 0;*/
        justify-content: center;
        font-size: 18px;
        border-radius: var(--border-radius);
        padding: 8px;
    }

    .difficulty-dropdown {
        width: 100px;
        color: black;
        transition: transform .5s;
    }

    .errors-dropdown {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    input {
        height: 50px;
        font-size: 24px;
        border-radius: var(--border-radius);
        /*padding: 0 0 0 15px;*/
        text-transform: uppercase;
    }

    .name-input {
        padding: 0;
        text-align: center
    }

    .name-input::placeholder {
        text-transform: uppercase;
        font-size: 21px;
    }

    .jugar-button {
        background-color: #308200
    }
    .jugar-button::after {
        background-color: #7bcc1f
    }

    #facil {
        background-color: #90EE90;
    }

    #medio {
        background-color: #F1EB9C;
    }

    #dificil {
        background-color: #FF7F7F;
    }

    
    .input-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px
    }

    .game-options-form {
        display: flex;
        flex-direction: column;
        gap: 10px
    }

    h1 {
        /*margin: 15px;*/
        text-align: center;
    }

    .difficulty-dropdown:focus {
        outline: none;
        transform: scale(1.05);
    }

    .input-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .difficulty-row {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .centrado {
        text-align: center;
    }
</style>
<script>
    let difficulty = document.getElementById("difficulty-row")
    let facil = document.getElementById("facil")
    let medio = document.getElementById("medio")
    let dificil = document.getElementById("dificil")
    const verde = "#90EE90";
    const amarillo = "#F1EB9C";
    const rojo = "#FF7F7F";

    function difficultyColors() {
        facil.style.backgroundColor = verde;
        medio.style.backgroundColor = amarillo;
        dificil.style.backgroundColor = rojo;
    }

    function setDifficulty() {
        switch (difficulty.value) {
            case "facil":
                difficulty.style.backgroundColor = verde;
                difficultyColors();
                return;
            case "medio":
                difficulty.style.backgroundColor = amarillo;
                difficultyColors();
                return;
            case "dificil":
                difficulty.style.backgroundColor = rojo;
                difficultyColors();
                return;

        }
    }

</script>
